{% extends 'base.html' %}
{% block title%}Completed Tasks{%endblock%}
{% block content %}
<section>
    <div class="jumbotron py-4 bg-white mb-0">
        <div class="container">
            <button class="btn btn-primary">Add Task</button>
        </div>
    </div>
</section>
<section>
    <div class="jumbotron bg-white py-0">
        <div class="container">
            <h1>Completed tasks in {{ todo_list.name }}</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Task</th>
                        <th scope="col">Created</th>
                        <th scope="col">Due on</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Mark</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in tasks %}
                    <tr>
                        <td>
                            <a href=""> {{ t.task }} </a>
                        </td>
                        <td>{{ t.created }}</td>
                        <td>{{ t.due }}</td>
                        <td>{{ t.owner }}</td>
                        <td>
                            <button
                                class="btn btn-sm {% if t.completed %} btn-success {% else %} btn-danger {% endif %}">
                                {% if t.completed %} Done {% else %} Not Done {% endif %}
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<section>
    <div class="jumbotron py-0 bg-white mb-8">
        <div class="container">
            <div class="btn-toolbar">
                <div class="btn-group mr-4">
                    <a href="/todos" class="btn btn-warning">View all tasks</a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-danger">Delete this list</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}